.socket {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  width: 100vw;
  align-self: center;
}

.socket > img {
  border-radius: 16px;
  -webkit-box-shadow: -22px 18px 49px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -22px 18px 49px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -22px 18px 49px 0px rgba(0, 0, 0, 0.75);
}
/* .webcamPrev {
  display: block;
  position: absolute;
  right: 100%;
} */
